PORT=5006
MONGO_URI=mongodb://localhost:27017/gharkakitchen_notifications
JWT_ACCESS_SECRET=your_jwt_secret
RESEND_API_KEY=re_RmdKW3KZ_9jMdC8DexJK76tbTSfbjUjL6
RESEND_FROM_EMAIL=onboarding@resend.dev
FIREBASE_PROJECT_ID=node-project-4dbf6
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
